{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Tournaments
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            {% for tournament in template_values.tournaments %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="accordion" href="#{{ tournament.id }}">
                                            {{ tournament.name }}
                                        </a>
                                        <button class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#removeTournamentModal{{ tournament.tournament_id }}">Remove Tournament</button>
                                    </div>
                                    <div class="panel-collapse collapse" id="{{ tournament.id }}">
                                        <div class="panel-body">
                                            <form class="form-horizontal" role="form" method="post" action="/admin/update_tournament/">
                                                <div class="form-group">
                                                    <label for="input_name" class="col-sm-2 control-label">Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="input_name" value="{{ tournament.name }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_tourney_id" class="col-sm-2 control-label">ID</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="input_tourney_id" value="{{ tournament.id }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_url" class="col-sm-2 control-label">URL</label>
                                                    <div class="col-sm-10">
                                                        <input type="url" class="form-control" name="input_url" value="{{ tournament.url }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Order</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" name="input_order" value="{{ tournament.order }}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Running</label>
                                                    <div class="col-sm-10">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="input_running" value="True" {% if tournament.running %} checked {% endif %} />True
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="input_running" value="False" {% if not tournament.running %} checked {% endif %} />False
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input_desc" class="col-sm-2 control-label">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea type="text" class="form-control" name="input_desc" rows="9">{{ tournament.desc }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-primary btn-sm pull-right">Update Tournament</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>Run tournament creation</td>
                                                    <td>Adds all the teams and other basic information..</td>
                                                    <td>
                                                        <a href="/crons/tournament_creation/{{ tournament.id }}/">
                                                            <button class="btn btn-danger btn-xs pull-right">Run</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% for tournament in template_values.tournaments %}
                    <div class="modal fade" id="removeTournamentModal{{ tournament.tournament_id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Confirm Remove Tournament {{ tournament.tournament_name }}?
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you absolutely sure you wish to remove the tournament {{ tournament.tournament_name }}? There is no undo option for this.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Confirm Remove Tournament {{ tournament.tournament_name }}</button>
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="pull-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addTournamentModal">
                        Add Tournament
                    </button>
                </div>
                <div class="modal fade" id="addTournamentModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form class="form-horizontal" role="form" method="post" action="/admin/add_tournament/">
                                    <div class="form-group">
                                        <label for="input_name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="input_name" placeholder="Name of the tournament">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input_tourney_id" class="col-sm-2 control-label">ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="input_tourney_id" placeholder="Short identification string. Example: ATXI">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input_url" class="col-sm-2 control-label">URL</label>
                                        <div class="col-sm-10">
                                            <input type="url" class="form-control" name="input_url" placeholder="Tournament URL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Order</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" name="input_order" placeholder="Order the tournament should be listed in">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Running</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="input_running" value="True" />True
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="input_running" value="False" checked />False
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input_desc" class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea type="text" class="form-control" name="input_desc" rows="9" placeholder="Description for the tournament. Max 500 characters."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Add Tournament</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}