{% autoescape true %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{% block title %}{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/highcharts.js"></script>

            <link href="/css/bootstrap.min.css"        rel="stylesheet" />
            <link href="/css/eve-tournament-stats.css" rel="stylesheet" />

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-42648820-2', 'eve-tournament-stats.appspot.com');
                ga('send', 'pageview');
            </script>

            {% block head %}{% endblock %}
        </head>
        <body data-spy="scroll" data-target="#side-nav">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert {{ category }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">EVE Tournament Stats</a>
                    </div>

                    <nav class="navbar-collapse bs-navbar-collapse collapse in" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Tournaments <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for tournament in template_values.base_info.nav_top_tournaments %}
                                        <li><a href="/tournament/{{ tournament.id }}/">{{ tournament.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        {% block navbar %}{% endblock %}
                    </nav>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </body>
    </html>
{% endautoescape %}