{% autoescape true %}
<html>
    <head>
        <title>ATXI Statistics</title>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-42648820-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/highcharts.js"></script>

        <script type="text/javascript">
            $(function () {
                $('#serriesCompletionDiv').highcharts({
                    title: {text: 'Series Completion'},
                    subtitle: {text: 'Total Series: {{ seriesCompletion.total }}'},
                    plotOptions: {
                        pie: {
                            innerSize: '70%'
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Series Count',
                        data: [
                            {name  : 'Completed',
                             y     : {{ seriesCompletion.completedCount }},
                             color : '{{ color.green }}'
                            },
                            {name  : 'Remaining',
                             y     : {{ seriesCompletion.togoCount }},
                             color : '{{ color.gray }}'
                            }
                        ]
                    }]
                });

                $('#rvbDiv').highcharts({
                    title: {text: 'Red versus Blue Series Winners'},
                    subtitle: {text: 'Series Played: {{ rvb.total }}'},
                    plotOptions: {
                        pie: {
                            innerSize: '70%'
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Series Count',
                        data: [
                            {name: 'Red Winners',
                             y: {{ rvb.red }},
                             color: '{{ color.red }}'
                            },
                            {name: 'Blue Winners',
                             y: {{ rvb.blue }},
                             color: '{{ color.blue }}'
                            }
                        ]
                    }]
                });

                $('#teamIsk-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'ISK Killed/Lost By Teams'},
                    subtitle: {text: 'Total ISK Killed: {{ barGraphs.teamIsk.totalIsk }} ISK'},
                    tooltip: {valueSuffix: ' ISK'},
                    xAxis: {categories: [
                        {% for team, iskKilled, iskLost in barGraphs.teamIsk.primary %}
                            '{{ team }}',
                        {% endfor %}
                    ]},
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: 'ISK Lost',
                        color: '{{ color.red }}',
                        data: [
                            {% for team, iskKilled, iskLost in barGraphs.teamIsk.primary %}
                                {{ iskLost }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'ISK Killed',
                        color: '{{ color.blue }}',
                        data: [
                            {% for team, iskKilled, iskLost in barGraphs.teamIsk.primary %}
                                {{ iskKilled }},
                            {% endfor %}
                        ]
                    }]
                });

                $('#teamShips-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'Ships Killed/Lost By Teams'},
                    subtitle: {text: 'Total Ships Killed: {{ barGraphs.teamShips.totalShips }}'},
                    xAxis: {categories: [
                        {% for team, shipsKilled, shipsLost in barGraphs.teamShips.primary %}
                            '{{ team }}',
                        {% endfor %}
                    ]},
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: 'Ships Lost',
                        color: '{{ color.red }}',
                        data: [
                            {% for team, shipsKilled, shipsLost in barGraphs.teamShips.primary %}
                                {{ shipsLost }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Ships Killed',
                        color: '{{ color.blue }}',
                        data: [
                            {% for team, shipsKilled, shipsLost in barGraphs.teamShips.primary %}
                                {{ shipsKilled }},
                            {% endfor %}
                        ]
                    }]
                });

                $('#teamDamage-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'Damage Done/Received By Teams'},
                    subtitle: {text: 'Total Damage Done: {{ barGraphs.teamDamage.totalDamage }}'},
                    xAxis: {categories: [
                        {% for team, damageDone, damageReceived in barGraphs.teamDamage.primary %}
                            '{{ team }}',
                        {% endfor %}
                    ]},
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: 'Damage Received',
                        color: '{{ color.red }}',
                        data: [
                            {% for team, damageDone, damageReceived in barGraphs.teamDamage.primary %}
                                {{ damageReceived }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Damage Done',
                        color: '{{ color.blue }}',
                        data: [
                            {% for team, damageDone, damageReceived in barGraphs.teamDamage.primary %}
                                {{ damageDone }},
                            {% endfor %}
                        ]
                    }]
                });

                $('#teamPilotCounts-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'Pilots Flown Per Team'},
                    subtitle: {text: 'Total Pilots In Tournament: {{ barGraphs.teamPilotCounts.totalPilots }}'},
                    xAxis: {categories: [
                        {% for team, pilotCount in barGraphs.teamPilotCounts.primary %}
                            '{{ team }}',
                        {% endfor %}
                    ]},
                    series: [{
                        name: 'Pilots',
                        color: '{{ color.blue }}',
                        data: [
                            {% for team, pilotCount in barGraphs.teamPilotCounts.primary %}
                                {{ pilotCount }},
                            {% endfor %}
                        ]
                    }]
                });

                $('#teamMatchesPlayed-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'Matches Played Per Team'},
                    subtitle: {text: 'Total Matches Played: {{ barGraphs.teamMatchesPlayed.totalMatches }}'},
                    xAxis: {categories: [
                        {% for team, matchCount in barGraphs.teamMatchesPlayed.primary %}
                            '{{ team }}',
                        {% endfor %}
                    ]},
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: 'Matches',
                        color: '{{ color.blue }}',
                        data: [
                            {% for team, matchCount in barGraphs.teamMatchesPlayed.primary %}
                                {{ matchCount }},
                            {% endfor %}
                        ]
                    }]
                });

                $('#shipStats-primary').highcharts({
                    chart: {type: 'bar'},
                    title: {text: 'Ship Stats'},
                    subtitle: {text: 'Total Ship Types Fielded: {{ barGraphs.shipStats.totalShips }}'},
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    xAxis: {categories: [
                        {% for ship, fieldedCount, killerCount, victimCount, bannedCount in barGraphs.shipStats.primary %}
                            '{{ ship }}',
                        {% endfor %}
                    ]},
                    series: [{
                        name: 'Destroyed',
                        color: '{{ color.red }}',
                        data: [
                            {% for ship, fieldedCount, killerCount, victimCount, bannedCount in barGraphs.shipStats.primary %}
                                {{ victimCount }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Final Blows',
                        color: '{{ color.blue }}',
                        data: [
                            {% for ship, fieldedCount, killerCount, victimCount, bannedCount in barGraphs.shipStats.primary %}
                                {{ killerCount }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Banned',
                        color: '{{ color.yellow }}',
                        data: [
                            {% for ship, fieldedCount, killerCount, victimCount, bannedCount in barGraphs.shipStats.primary %}
                                {{ bannedCount }},
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Fielded',
                        color: '{{ color.green }}',
                        data: [
                            {% for ship, fieldedCount, killerCount, victimCount, bannedCount in barGraphs.shipStats.primary %}
                                {{ fieldedCount }},
                            {% endfor %}
                        ]
                    }]
                });
            });

            $(document).ready(function() {
                $("#loadMatchStats").click(function(){
                    $('#matchResultsDiv').load('/matchstats', {'matchurl':$('#matchSelector').find(":selected").val()});
                    window.history.pushState("", "", '/?matchurl=' + $('#matchSelector').find(":selected").val());
                })

                $("#clearMatchStats").click(function(){
                    $('#matchResultsDiv').load('/matchstats', {'matchurl':""});
                })

                {% if matchUrl %}
                    $('#matchResultsDiv').load('/matchstats', {'matchurl':"{{ matchUrl }}"});
                {% endif %}
            })
        </script>
    </head>

    <body>
        <div>
            <div id="navigation">
                <h2>Navigation</h2>
                <ul>
                    <li><a href="#matchSelector">Per Match Stats</a></li>
                    <li><a href="#matchResultsDiv">Series Stats</a></li>
                    {% for barGraph in barGraphs %}
                        <li><a href="#{{ barGraph }}">{{ barGraphs[barGraph].name }}</a></li>
                    {% endfor %}
                </ul>

                <h2>Official</h2>
                <ul>
                    <li><a href="http://community.eveonline.com/community/alliance-tournament/schedule/"><img src="images/schedule.png" /></a></li>
                    <li><a href="http://community.eveonline.com/community/alliance-tournament/tournament-brackets/"><img src="images/brackets.png" /></a></li>
                    <li><a href="http://www.twitch.tv/ccp"><img src="images/twitch.png" /></a></li>
                </ul>

                <h2>Un-Official</h2>
                <ul>
                    <li><a href="http://null-sec.com/atxi/#/">Brackets</a></li>
                    <li><a href="https://twitter.com/at_xi_bot">Twitter bot</a></li>
                    <li><a href="https://twitter.com/search?q=%23ATXI">#ATXI on Twitter</a></li>
                </ul>

                <h2>This project</h2>
                The source code for this project can be found here: <a href="https://bitbucket.org/regner/atxi-stats/src">Bitbucket</a>
            </div>

            <div id="content">
                <p>Note: You can enable/disable the displaying of specific data by clicking it on the legend. This will help you view specific information more easily.</p>
                <select id="matchSelector" name="match">
                    {% for seriesNumber, matchNumber, redTeam, blueTeam, matchHref in matchesWithReplay %}
                        <option value="{{ matchHref }}">
                            Series: {{ seriesNumber }} - Match: {{ matchNumber }} - {{ redTeam }} vs {{ blueTeam }}
                        </option>
                    {% endfor %}
                </select>

                <input type="submit" id="loadMatchStats" value="Load">
                <input type="submit" id="clearMatchStats" value="Clear">

                <div id="matchResultsDiv" style="width: 100%;"></div>

                <div id="seriesStats" class="graphSection">
                    <div id="serriesCompletionDiv" class="pieChart"></div>
                    <div id="rvbDiv" class="pieChart"></div>
                </div>

                <!-- Generate all bar graphs -->
                {% for barGraph in barGraphs %}
                    <div id="{{ barGraph }}" class="graphSection">
                        <h1>{{ barGraphs[barGraph].name }}</h1>
                        <div id="{{ barGraph }}-primary" class="barGraph" style="height: {{ barGraphs[barGraph].primary|length * 15 * barGraphs[barGraph].other|length }}px;"></div>
                    </div>
                {% endfor %}
            </div>

            <div id="footer"></div>
        </div>
    </body>
</html>
{% endautoescape %}