{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>EVE Tournament Stats</h1>
            <p>This site is dedicated to providing statistics and information on all officially run tournaments for EVE Online.</p>
            <p>Be sure to check out <a href="http://twitter.com/EVETournaments">@EVETournaments</a> for updated information as tournaments take place.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for tournament in template_values.tournaments %}
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a href="/tournament/{{ tournament.id }}/">{{ tournament.name }} ({{ tournament.id }})</a>
                        </div>
                        <div class="panel-body">
                            <p>{{ tournament.desc }}</p>
                            <p><a href="/tournament/{{ tournament.id }}/" class="btn btn-info pull-right" role="button">View Tournament</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}