<div>
    <script type="text/javascript">
        $(function () {
            $('#totalStatsRedDiv').highcharts({
                yAxis: {
                    max: 1.5,
                    min: -.25
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                title: {text:"{{ teamNameRed }} (Red Team)"},
                series: [{
                    name: 'Total EHP',
                    data:[
                        {% for frame in totalEHPRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Max DPS',
                    data:[
                        {% for frame in maxDPSRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Max Control',
                    data:[
                        {% for frame in maxControlRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Total Reps',
                    data:[
                        {% for frame in totalRepsRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Applied DPS',
                    data:[
                        {% for frame in appliedDPSRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Applied Control',
                    data:[
                        {% for frame in appliedControlRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Points',
                    data:[
                        {% for frame in teamPointsRed %}
                            {{ frame }},
                        {% endfor %}
                    ]
                }]
            });

            $('#totalStatsBlueDiv').highcharts({
                yAxis: {
                    max: 1.5,
                    min: -.25,
                    maxPadding: 0,
                    minPadding: 0
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                title: {text:"{{ teamNameBlue }} (Blue Team)"},
                series: [{
                    name: 'Total EHP',
                    data:[
                        {% for frame in totalEHPBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Max DPS',
                    data:[
                        {% for frame in maxDPSBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Max Control',
                    data:[
                        {% for frame in maxControlBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Total Reps',
                    data:[
                        {% for frame in totalRepsBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Applied DPS',
                    data:[
                        {% for frame in appliedDPSBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Applied Control',
                    data:[
                        {% for frame in appliedControlBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                },
                {
                    name: 'Points',
                    data:[
                        {% for frame in teamPointsBlue %}
                            {{ frame }},
                        {% endfor %}
                    ]
                }]
            });
        });
    </script>
    <div class="graphSection">
        <div id="totalStatsRedDiv"  class="barGraph" style="height: 400px;"></div>
        <div id="totalStatsBlueDiv" class="barGraph" style="height: 400px;"></div>
    </div>
</div>