{% extends "base.html" %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournament Sections <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for link, name in template_values.nav_tournament %}
                    <li><a href="/tournament/{{ link }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Series Completion
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.series_total }} // {{ template_values.tournament_info.series_completed }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Red vs Blue Winnings
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.series_wins_red }} // {{ template_values.tournament_info.series_wins_blue }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Ships Killed
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.ships_killed }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                ISK Killed
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.isk_killed }} ISK</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Damage Done
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.damage_done }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Pilots Fielded
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.pilots_fielded }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Teams Involved
                            </div>
                            <div class="panel-body">
                                <p>{{ template_values.tournament_info.teams_total }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Ships Fielded
                            </div>
                            <div class="panel-body">
                                <p>Some Numbers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
